PORT=5000
MONGODB_URI=mongodb://localhost:27017/go_seven
JWT_SECRET=replace_me
CLIENT_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ADMIN_EMAIL=admin@goseven.local
ADMIN_PASSWORD=123456
ADMIN_NAME=Store Admin
ADMIN_PHONE=+910000000000
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_MESSAGING_SERVICE_SID=
TWILIO_WHATSAPP_FROM=+14155238886
TWILIO_WHATSAPP_CUSTOMER_TEMPLATE_SID=
TWILIO_WHATSAPP_ADMIN_TEMPLATE_SID=
WHATSAPP_ADMIN_TO=+97431685812
WHATSAPP_DEBUG_LOG=true
